* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    
}

body {
    background: rgb(36,47,155);
    background: linear-gradient(360deg, rgba(36,47,155,1) 12%, rgba(100,111,212,1) 55%, rgba(219,223,253,1) 100%);
}

*::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

*::-webkit-scrollbar-thumb {
    background: rgb(143, 175, 206);
    border-radius: 4px;
}

/* NAVEGACION HEADER */
.container-nav{
    background-color:rgba(253, 253, 253, 0.521);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;  
    -webkit-box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);
    -moz-box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);
    box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);
}

.logo-nav img {
    height: 80px;
}

.enlaces-nav {
    display: flex;
    list-style: none;
}

.enlaces-nav li{
    justify-content: center;
    padding-left: 20px;
}

.enlaces-nav li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: all .6s ease;
}

.enlaces-nav li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.botones{
    /* background-color: rgb(250, 250, 250); */
    padding: 6px 7px;
    border-radius: 5px;
    margin: 5px;
    transition: all .8s ease;

}

.botones:hover {
    background-color: rgb(173, 173, 173);
   
}

#icon-menu {
    width: 50px;
    height: 50px;
    position:absolute;
    right: 30px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(253, 253, 253, 0.521);
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}

#icon-menu:hover {
    opacity: 0.8;
}

/* LANDING PAGE */


.container-landing-page{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    overflow: hidden;
    
}

.box-landing {
    margin:  100px auto;
    height: 500px;
    /* border: 1px solid black; */
}

.box-landing h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.box-landing p {
    margin-top: 30px;
    text-align: center;
    color: black;
}

/* BOTON LANDING PAGE */
.work-btn {
    border-style: none;
    background-color:rgba(253, 253, 253, 0.829);
    border-radius: 50%;
    font-size: 40px;
    padding: 15px 25px;
    display: block;
    margin: 180px auto;
    
    transition: all .9s ease;
    -webkit-box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);
    -moz-box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);
    box-shadow: -1px 1px 43px -1px rgba(179,179,179,1);

}

.work-btn:hover {
    background-color: rgb(173, 173, 173);
    -webkit-box-shadow: -1px 1px 43px -1px rgb(255, 255, 255);
    -moz-box-shadow: -1px 1px 43px -1px rgb(255, 255, 255);
    box-shadow: -1px 1px 43px -1px rgb(255, 255, 255);
}

.work-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.work-btn a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* BOX2 */

.containerbox2 {
    background: #9BA3EB;   
    padding-bottom: 1rem;
    
}

.containerbox2 h2 {
    text-transform: uppercase;
    text-align: center;
    color: #242f9b;
}

.contentbox2 {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 20px;
    max-width: 768px;
    max-height: 800px;
    margin: auto; 
    
}

.contentbox2 p {
    line-height: 1.3rem;

}

/* CAJAS DE BOX2 */

.cj {
    color: white;
    padding: 2rem;
   
}


.cj1 {
    background-color: #144a4d;   
    border-radius: 1rem 0 0 1rem;
}

.cj2 {
    background-color: #008079;
}

.cj3 {
    background-color: #285716;
    border-radius: 0 1rem 1rem 0;
}


/* CONTENIDO DE CAJAS  */

.cj-titulo {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.cj img{
    max-width: 250px;
    max-height: 200px;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
}

.cj-texto {
    font-size: 14px;
}

.tech {
    margin: 1rem 0 1rem 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.619);
    max-width: 100px;
    max-height: 80px;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);

}

.cj i {
    font-size: 24px;
    margin: 10px 5px;
   
}

.fa-html5 {
    color: #e64c18;
}

.fa-css3-alt {
    color:#006bc0;
}

.fa-js {
    color: #f8ec46;
}

/* FOOTER */

footer {
    
    background-color: #646FD4; 
    text-align: center;
    padding-bottom: 3rem;
    color: rgb(0, 0, 0);    
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
}

.ola2 {
    background-color:#9BA3EB;
}

/* Responsive design - adaptable a dispositos moviles */

@media screen and (max-width: 1220px) {
    
    .container-nav,
    .container-landing-page,
    .containerbox2,
    .container-footer{

        max-width: 1300px;
        padding: 0 20px;
    }    
}

@media screen and (max-width: 950px) {
    .containerbox2 {
       width: 100%;
        
    }

    .cj {
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 250px;
    }

}

@media screen and (max-width: 760px) {

    .container-all {
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all {
        transform: translate(300px);
    }

    .container-enlaces-nav {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgba(253, 253, 253, 0.9);
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
        transform:translateX(-350px);
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    
    .show-lateral {
        width: 300px;
        transform: translateX(0);
    }

    #icon-menu{
        display: flex;
    }

    .container-enlaces-nav ul {
        flex-direction: column;
    }

    .container-enlaces-nav ul li {
        max-width: 200px;
        height: 50px;
        margin-top: 40px ; 
    }

    .container-enlaces-nav .enlaces-nav li a {
        margin-left: 80px;
        color: black; 
    }

    .containerbox2{
        padding-bottom: 450px;
    }

    .contentbox2{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 580px){

    .contentbox2{

        max-width: 300px;
        max-height: 500px;
    }
    .containerbox2{
        padding-bottom: 900px;
    }

    #icon-menu {
        right: 15px;
    }
}